/* Apply global styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #13B1D3 28%, #5321f8 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Apply styles to the root app container */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
